.singup-form{
  margin-left: 40%;
  border-radius: 4px;
  box-shadow: 4px black;
}

.text-error{
  color: red;
}

.button-singIn{
  align-items: center;
  margin-left: 40%;
 margin-top: 10px;
 border-radius: 3px;
 border: 1px solid cornsilk;
}
.button-singIn1{
  align-items: center;
 margin-left: 10px;
 margin-top: 10px;
 border-radius: 3px;
 border: 1px solid cornsilk;
 }
